body {
  font-family: "Open Sans";
}

.admin-all-posts {
  list-style: none;
}

.admin-all-posts button {
  margin-left: 10%;
}

h5 a {
  color: #222;
}

.post-summary-tags {
  margin-top: 5%;
}

.post-summary-tags a {
  text-decoration: none;
}

.post-summary-tag {
  padding-left: 2.5%;
  padding-right: 2.5%;
  margin-right: 2%;
  text-align: center;
  background-color: rgba(34,34,34, 1);
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  color: white;
  border-radius: 100px;
}

.thumb-animation {
  -webkit-animation-name: thumb-animation;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
}

.thumb-animation {
  -webkit-animation-name: thumb-animation;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
}

button:disabled {
  -webkit-animation-name: like-button-animation;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;

  pointer-events: none;
}

@-webkit-keyframes thumb-animation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg)
  }
}

@-webkit-keyframes like-button-animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}

.like-content {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  padding: 5px;
  font-size: 16px;
}

.likes-flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 2em;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 1px) and (max-device-width : 800px) {
  .posted-by {
    display: none;
  }
}

.posted-by {
  margin-left: auto;
}

.like-call-to-action {
  border-radius: 1000px;
  padding-left: 1em;
  padding-right: 1em;
}

.like-call-to-action i {
  font-size: 2em;
}

.like-content i {
}

.like-content span {
  margin-left: 1em;
  font-size: 16px;
}



.like-number {
  margin-left: 1em;
}

.commentField {
  width: 100%;
}

.notLoggedInWarning {
  padding-bottom: 1em;
}

.googleLogin button {
  height: auto;
}

h2 a {
  text-decoration: none;
  color: #222;
}

h1 a {
  text-decoration: none;
  color: #222;
}

h1, h6, h5, h2 {
  font-family: "Roboto Slab";
  font-weight: 300;
}

h1, h6, h5 {
  text-align: center;
}

h5 i {
  padding: 5px;
}

h6 {
  font-family: "Roboto Slab";
  font-weight: 300;
}

.post em a {
  text-decoration: none;
  color: #333;
}

hr {
  width: 50%;
}

.comment h5 {
  text-align: left;
}

.comment {
  margin-bottom: 1em;
}